<!-- @if (!userIsAdmin) { -->
<div class="form">
    <form class="form-inline" action="" dir="rtl" #loginForm="ngForm">

        <p dir="ltr"></p>
        <mat-form-field appearance="outline" class="input2">
            <mat-label>إدخل رقم الهاتف</mat-label>
            <input matInput placeholder="الهاتف" #phone="ngModel" ngModel name="phone" required minlength="2"
                maxlength="22" phone [ngModelOptions]="{updateOn:'blur'}">

            @if (phone.errors?.['required']) {
            <mat-error> يجب إدخل رقم الهاتف </mat-error>
            }
            @else if (phone.errors?.['minlength']) {
            <mat-error>رقم الهاتف يجب أن يكون 9 أرقام</mat-error>
            }
        </mat-form-field>

        <p>{{password}}</p>
        <mat-form-field appearance="outline" class="input2">
            <mat-label>كلمة السر</mat-label>
            <input matInput placeholder="كلمة السر" ngModel name="password" required
                minlength="8" maxlength="22" #pass="ngModel"
                [ngModelOptions]="{updateOn:'change'}">

            @if (pass.errors?.['required']) {
            <mat-error>كلمة السر مطلوبة</mat-error>
            }
            @else if (pass.errors?.['minlength']) {
            <mat-error>يجب أن تكون كلمة السر اكبر من 6</mat-error>
            }
        </mat-form-field>
        <br>
        <button type="submit" class="btn btn-success mb-2 buttonSend"  (click)="login(loginForm)"
            >تسجيل دخول</button>
            <button type="submit" class="btn btn-success mb-2 buttonSend" mat-raised-button (click)="register()"
            >طالب جديد</button>
        <a href="#">هل نسيت كلمة السر؟</a>
    </form>
</div>
<!-- }@else { -->
 
    <!-- <app-dashboard ngSkipHydration></app-dashboard> -->
<!-- } -->