body {
    font-family: 'Tajawal', sans-serif;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.card-header .btn {
    font-size: 1rem;
    font-weight: 400;
}

.table thead th {
    font-size: 1rem;
    font-weight: 700;
}

.table tbody td {
    font-size: 0.875rem;
    font-weight: 400;
}

.avatar {
    font-size: 1rem;
    font-weight: 700;
}
