<div id="DataStudent" class="container">
  <form [formGroup]="dataForm">
    <label for="Ab">الاسم الكامل</label><br>
    <input type="text" class="inputAb" name="Ab" formControlName="fullNameAr" readonly>
    <label for="En" class="LabEn">Full Name</label><br>
    <input type="text" dir="ltr" class="En" name="En" formControlName="fullNameEn" readonly><br><br>

    <!-- First Row: Arabic Names -->
    <div class="row row1">
      <label for="row1-1" class="row1-1">الاسم الأول</label>
      <input type="text" name="row1-1" placeholder="الاسم الأول" formControlName="firstNameAr">
      <label for="row1-2" class="row1-2">الاسم الثاني</label>
      <input type="text" name="row1-2" placeholder="الاسم الثاني" formControlName="secondNameAr">
      <label for="row1-3" class="row1-3">الاسم الثالث</label>
      <input type="text" name="row1-3" placeholder="الاسم الثالث" formControlName="thirdNameAr">
      <label for="row1-4" class="row1-4">الاسم الأخير</label>
      <input type="text" name="row1-4" placeholder="اسم العائلة" formControlName="lastNameAr">
    </div><br>

    <!-- Second Row: English Names -->
    <div class="row row2">
      <label for="row2-1" class="row2-1">First</label>
      <input type="text" class="appear" name="row2-4" name="lastNameEn" placeholder="Last Name" formControlName="lastNameEn">
      <label for="row2-2" class="row2-2">Second</label>
      <input type="text" class="appear" name="row2-3" name="thirdNameEn" placeholder="Third Name" formControlName="thirdNameEn">
      <label for="row2-3" class="row2-3">Third</label>
      <input type="text" name="row2-2" name="secondNameEn" placeholder="Second Name" formControlName="secondNameEn">
      <label for="row2-4" class="row2-4">Last</label>
      <input type="text" name="row2-1" name="firstNameEn" placeholder="First Name" formControlName="firstNameEn">
      <!-- this will appear with mobile phone  -->
      <input type="text" class="hidden" name="row2-4" name="lastNameEn" placeholder="Last Name" formControlName="firstNameEn">
      <input type="text" class="hidden" name="row2-3" name="thirdNameEn" placeholder="Third Name" formControlName="thirdNameEn">
    </div><br>

    <!-- Third Row: Other Information -->
    <div class="row">
      <label for="row3-1" class="row3-1">تاريخ الميلاد</label>
      <input type="text" name="dob" placeholder="تاريخ الميلاد" formControlName="dob">
      <label for="row3-2" class="row3-2">الصف</label>
      <input type="text" name="grade" placeholder="Grade" formControlName="grade">
      <label for="row3-3" class="row3-3">الشعبة</label>
      <input type="text" name="division" placeholder="Division" formControlName="division">
      <label for="row3-4" class="row3-4">النوع</label>
      <input type="text" name="sex" placeholder="Sex" formControlName="sex">
    </div>
  </form>
</div>