<div class="col text-left">
    <div class=" mt-sm-0 mt-2">
        <button class="btn btn-left" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i
                class="fas fa-ellipsis-h"></i></button>
        <div class="dropdown-menu dropdown-menu-left">
            <a class="dropdown-item" href="#"><i class="bi bi-trash IconDelete"></i>تعديل</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"><i class="bi bi-trash IconDelete"></i>حذف</a>
        </div>
    </div>
</div>